@charset "utf-8";

@import "grid.css";
@import "reset.css";
@import "common.css";

.header {
	height: 100vh;
}

body {
	background: #ddd;
}

.header .row > div {
	height: 150px;
	background: rgba(0,0,0, 0.6);

}